<div class="main-content buttons-with-margin">

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="header">
                            <h4 class="title">Cores</h4>
                        </div>
                        <div class="content">
                            <button class="btn btn-default btn-fill btn-wd">Default</button>
                            <button class="btn btn-primary btn-fill btn-wd">Primary</button>
                            <button class="btn btn-info btn-fill btn-wd">Info</button>
                            <button class="btn btn-success btn-fill btn-wd">Success</button>
                            <button class="btn btn-warning btn-fill btn-wd">Warning</button>
                            <button class="btn btn-danger btn-fill btn-wd">Danger</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="header">
                            <h4 class="title">Estilos</h4>
                        </div>
                        <div class="content">
                            <button class="btn btn-wd">Default</button>
                            <button class="btn btn-fill btn-wd">Fill</button>
                            <button class="btn btn-fill btn-round btn-wd">Fill + Round</button>
                            <button class="btn btn-round btn-wd">Round</button>
                            <button class="btn btn-simple btn-wd">Simple</button>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="header">
                            <h4 class="title">Botões com Label</h4>
                        </div>
                        <div class="content">
                            <button type="button" class="btn btn-wd btn-success">
                                <span class="btn-label">
                                    <i class="fa fa-check"></i>
                                </span>
                                Success
                            </button>

                            <button type="button" class="btn btn-wd btn-danger">
                                <span class="btn-label">
                                    <i class="fa fa-times"></i>
                                </span>
                                Danger
                            </button>

                            <button type="button" class="btn btn-wd btn-info">
                                <span class="btn-label">
                                    <i class="fa fa-exclamation"></i>
                                </span>
                                Info
                            </button>

                            <button type="button" class="btn btn-wd btn-warning">
                                <span class="btn-label">
                                    <i class="fa fa-warning"></i>
                                </span>
                                Warning
                            </button>

                            <button type="button" class="btn btn-wd btn-default">
                                <span class="btn-label">
                                    <i class="fa fa-arrow-left"></i>
                                </span>
                                Left
                            </button>

                            <button type="button" class="btn btn-wd btn-default">
                                Right
                                <span class="btn-label btn-label-right">
                                    <i class="fa fa-arrow-right"></i>
                                </span>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="header">
                            <h4 class="title">Tamanhos</h4>
                        </div>
                        <div class="content">
                            <button class="btn btn-lg btn-fill">Large</button>
                            <button class="btn btn-fill">Default</button>
                            <button class="btn btn-sm btn-fill">Small</button>
                            <button class="btn btn-xs btn-fill">X-Small</button>


                            <br>
                            <button class="btn btn-round btn-lg btn-fill">Large</button>
                            <button class="btn btn-round btn-fill">Default</button>
                            <button class="btn btn-round btn-sm btn-fill">Small</button>
                            <button class="btn btn-round btn-xs btn-fill">X-Small</button>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="header">
                            <h4 class="title">Agrupamento</h4>
                        </div>
                        <div class="content">
                            <div class="btn-group">
                               <button type="button" class="btn btn-default">Left</button>
                               <button type="button" class="btn btn-default">Middle</button>
                               <button type="button" class="btn btn-default">Right</button>
                            </div>

                            <br><br>
                            <div class="btn-group">
                               <button type="button" class="btn btn-default">1</button>
                               <button type="button" class="btn btn-default">2</button>
                               <button type="button" class="btn btn-default">3</button>
                               <button type="button" class="btn btn-default">4</button>
                            </div><br/>
                            <div class="btn-group">
                               <button type="button" class="btn btn-default">5</button>
                               <button type="button" class="btn btn-default">6</button>
                               <button type="button" class="btn btn-default">7</button>
                            </div><br/>
                            <div class="btn-group">
                               <button type="button" class="btn btn-default">8</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="header">
                            <h4 class="title">Paginação</h4>
                        </div>

                        <div class="content">
                            <ul class="pagination">
                                <!--
                                    color-classes: "pagination-blue", "pagination-azure", "pagination-orange", "pagination-red", "pagination-green"
                                -->
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li class="active"><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                            <br/>
                            <ul class="pagination pagination-no-border">
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li class="active"><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>

                        </div>
                    </div>
                </div>


</div>
</div>
