
<nav #navbar class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-primary btn-fill btn-round btn-icon">
                <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
                <i class="fa fa-navicon visible-on-sidebar-mini"></i>
            </button>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="" *ngIf="isMobileMenu()">
                
                
                    <ul class="nav navbar-nav" *ngIf="isFormulario">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-gavel"></i>
                                <p class="hidden-md hidden-lg">
                                    Actions
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-level-down"></i> Dados Gerais </a></li>
                                <li><a href="#"><i class="fa fa-level-down"></i> Dados Especóficos </a></li>
                                <li><a href="#"><i class="fa fa-level-down"></i> Associação </a></li>
                                <li><a href="#"><i class="fa fa-save"></i> Salvar </a></li>
                            </ul>
                        </li>
                    </ul>
                    
                    <div class="btn-group" *ngIf="isFormulario">
                        <button class="btn btn-default" type="button"><i class="fa fa-arrow-left"></i></button>
                        <input class="btn btn-default" size="3" type="text" value="1/20" />
                        <button class="btn btn-default" type="button"><i class="fa fa-arrow-right"></i></button>
                    </div>
                
                    
                    <ul class="nav navbar-nav navbar-right">
                    
                    <!-- 

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-gavel"></i>
                                <p class="hidden-md hidden-lg">
                                    Actions
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Alguma Ação</a></li>
                                <li><a href="#">Outra Ação</a></li>
                            </ul>
                        </li>
                    -->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="notification">5</span>
                            <p class="hidden-md hidden-lg">
                                Notificações
                            <b class="caret"></b>
                            </p>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Notificação 1</a></li>
                            <li><a href="#">Notificação 2</a></li>
                            <li><a href="#">Notificação 3</a></li>
                            <li><a href="#">Notificação 4</a></li>
                            <li class="divider"></li>
                            <li class=""><a href="#">Limpar Notificações</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-sign-out"></i> 
                        </a> 
                    </li>

                    <!-- 
                        <li class="dropdown dropdown-with-icons">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-list"></i>
                                <p class="hidden-md hidden-lg">
                                    More
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <ul class="dropdown-menu dropdown-with-icons">
                                <li>
                                    <a href="#">
                                        <i class="pe-7s-mail"></i> Messages
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="pe-7s-help1"></i> Help Center
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="pe-7s-tools"></i> Settings
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <i class="pe-7s-lock"></i> Lock Screen
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-danger">
                                        <i class="pe-7s-close-circle"></i>
                                        Log out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    -->

                </ul>
            </div>
        </div>
    </div>
</nav>
