<div class="main-content">
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="header">Pesquisar CIF</div>
          <div class="content">
            <form action="#" method="#" novalidate="" class="ng-untouched ng-pristine ng-valid">

              <div class="row">

                <div class="col-md-3">

                  <div class="form-group">
                    <label>CIF</label>
                    <input class="form-control" placeholder="00.00.00.000.0000.0000">


                    <div class="radio">
                      <div class="radio radio-inline">
                        <input id="radio5" name="radio10" type="radio" value="option5">
                        <label for="radio5"> Principal </label>
                      </div>

                      <div class="radio radio-inline">
                        <input id="radio6" name="radio10" type="radio" value="option6">
                        <label for="radio6"> Agregado </label>
                      </div>

                      <div class="radio radio-inline">
                        <input id="radio7" name="radio10" type="radio" value="option7">
                        <label for="radio7"> Adicional </label>
                      </div>
                    </div>

                    <div class="footer-big text-center"><br />
                      <button class="btn btn-fill btn-info" type="submit">Filtrar</button>
                    </div>

                  </div>
                </div>

                <div class="col-md-5">

                  <div class="form-group">
                    <label>Texto parcial</label>
                    <input type="text" class="form-control">


                    <div class="col-md-5">
                      <div class="radio">
                        <input id="ro8" name="radio11" type="radio" value="on8">
                        <label for="ro8"> Descrição Detalhada </label>
                      </div>

                      <div class="radio">
                        <input id="radio9" name="radio11" type="radio" value="on9">
                        <label for="radio9"> Canal </label>
                      </div>

                      <div class="radio">
                        <input id="rad10" name="radio11" type="radio" value="on10">
                        <label for="rad10"> FE - Ativa / Desativa </label>
                      </div>

                      <div class="radio">
                        <input id="rio10" name="radio11" type="radio" value="o10">
                        <label for="rio10"> Coreografia </label>
                      </div>

                      <div class="radio">
                        <input id="rdio10" name="radio11" type="radio" value="on10">
                        <label for="rdio10"> Data Criação </label>
                      </div>
                    </div>

                    <div class="col-md-5">
                      <div class="radio">
                        <input id="rdio8" name="radio11" type="radio" value="on8">
                        <label for="rdio8"> Produto </label>
                      </div>

                      <div class="radio">
                        <input id="rdio9" name="radio11" type="radio" value="on9">
                        <label for="rdio9"> Sistema </label>
                      </div>

                      <div class="radio">
                        <input id="rdi10" name="radio11" type="radio" value="on10">
                        <label for="rdi10"> FE - Comportamento </label>
                      </div>

                      <div class="radio">
                        <input id="rdo10" name="radio11" type="radio" value="on10">
                        <label for="rdo10"> Data Última Alteração </label>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

            </form>
          </div>
        </div>
      </div>

    </div>
  </div>