<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Tabela com Links</h4>
                        <p class="category">Subtitulo da tabela</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-no-bordered table-hover" cellspacing="0">
                                <thead>
                                    <tr>
                                      <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                                      <th>{{ tableData1.headerRow[1] }}</th>
                                      <th>{{ tableData1.headerRow[2] }}</th>
                                      <th class="text-right">{{ tableData1.headerRow[4] }}</th>
                                      <th class="text-right">{{ tableData1.headerRow[5] }}</th>
                                    </tr>
                                </thead>
                              <tbody>
                                  <tr *ngFor="let row of tableData1.dataRows">
                                      <td class="text-center">{{row[0]}}</td>
                                      <td>{{row[1]}}</td>
                                      <td>{{row[2]}}</td>
                                      <td class="text-right"> R$ {{row[4]}}</td>
                                      <td class="text-right">
                                        <a class="btn btn-info btn-simple btn-icon">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <a class="btn btn-warning btn-simple btn-icon">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-danger btn-simple btn-icon">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>

                                      
                                  </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Tabela com Switches</h4>
                        <p class="category">Outro subtitulo</p>
                    </div>
                    <div class="content table-full-width">
                        <table class="table table-no-bordered table-hover">
                                <thead>
                                    <tr>
                                      <th class="text-center">{{ tableData2.headerRow[0] }}</th>
                                      <th>{{ tableData2.headerRow[1] }}</th>
                                      <th>{{ tableData2.headerRow[2] }}</th>
                                      <th class="text-right">{{ tableData2.headerRow[3] }}</th>
                                      <th class="text-right">{{ tableData2.headerRow[4] }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableData2.dataRows">
                                        <td class="text-center">{{row.id}}</td>
                                        <td>{{row.name}}</td>
                                        <td>{{row.job_position}}</td>
                                        <td class="text-right"> R$ {{row.salary}}</td>
                                        <td class="text-right">
                                                    <bSwitch 
                                                    [switch-on-color]="'primary'"
                                                      [switch-off-text]="' '"
                                                      [switch-on-text]="' '"
                                                       [(ngModel)]="row.active">
                                                    </bSwitch>
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
