<div class="main-content">
<div class="container-fluid">
    <div class="card card-plain">
      
        <div class="places-sweet-alerts">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="content text-center">
                            <h5>Basico</h5>
                            <button class="btn btn-default btn-fill" (click)="showSwal('basic')">Testar</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="content text-center">
                            <h5>Titulo com texto</h5>
                            <button class="btn btn-default btn-fill" (click)="showSwal('title-and-text')">Testar</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="content text-center">
                            <h5>Sucesso</h5>
                            <button class="btn btn-default btn-fill" (click)="showSwal('success-message')">Testar</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="content text-center">
                            <h5>HTML no corpo</h5>
                            <button class="btn btn-default btn-fill" (click)="showSwal('custom-html')">Testar</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="content text-center">
                            <h5>Alerta com callback no sim</h5>
                            <button class="btn btn-default btn-fill" (click)="showSwal('warning-message-and-confirmation')">Testar</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="content text-center">
                            <h5>Alerta com callback no sim e cancelar</h5>
                            <button class="btn btn-default btn-fill" (click)="showSwal('warning-message-and-cancel')">Testar</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="content text-center">
                            <h5>Mensagem com fechamento automatico</h5>
                            <button class="btn btn-default btn-fill" (click)="showSwal('auto-close')">Testar</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="content text-center">
                            <h5>Modal com input </h5>
                            <button class="btn btn-default btn-fill" (click)="showSwal('input-field')">Testar</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
</div>
